    body {
      background-color: #0d1117;
      color: #ffffff;
    }

    .bg-orange {
      background-color: #0d6efd; /* azul padrão Bootstrap */
    }

    .navbar-dark {
      background-color: #000000 !important;
    }

    .navbar-nav .nav-link {
      transition: all 0.3s;
      color: #ffffff !important;
    }

    .navbar-nav .nav-link:hover {
      transform: translateY(-2px);
      color: #0d6efd !important;
    }

    .product-card {
      transition: transform 0.3s, box-shadow 0.3s;
      margin-bottom: 1.5rem;
      background-color: #161b22;
      color: white;
    }

    .product-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 5px 15px rgba(13,110,253,0.4);
    }

    .product-image {
      height: 200px;
      object-fit: contain;
      padding: 15px;
    }

    .price {
      color: #0d6efd;
      font-size: 1.25rem;
      font-weight: bold;
    }

    footer {
      background-color: #000000;
      color: #ffffff;
    }

    footer a {
      color: #0d6efd;
    }